* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    min-height: 60px;
    border: 1px solid black;
}

#nav-large {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

#nav-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    display: none;
}

#jumbo {
    position: relative;
    min-height: 500px;
    margin-top: 60px;
    background: url("../images/jumbo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.centra-head-foot {
    padding: 0 10%;
}

.centra-sez-1 {
    padding: 0 5%;
}

.centra-verticale {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.product-show {
    position: relative;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 400px;
}

.product-show img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
}

#how .row {
    overflow: hidden;
}
#how .row div {
    position: relative;
    height: 200px;
    overflow: visible;
}
#how .row div img {
    height: 60vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
#how .row div:first-of-type {
    background: url("../images/anziano.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

#app .row div:first-child {
    background: url("../images/app1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#app .row div:nth-child(2) {
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, lightblue, blue);
    height: 600px;
    overflow: hidden;
}
#app .row div:nth-child(2) img {
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    position: absolute;
    height: 500px;
}
#app .row div:last-child {
    text-align: center;
    background: url("../images/app3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#social {
    background: url("../images/social.jpg");
    /* height: 300px; */
}

#social .row {
    position: relative;
    height: 300px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
}
